{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/miscstyle.css') }}">
{% endblock %}

{% block content %}
{% include "partials/auth_nav.html" %}

<div class="card narrow">

    <h2>Forgot Password</h2>
    <p class="muted">Enter your email and we’ll send you a password reset link.</p>

    


    <form method="post" class="form">

      <div>
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>
      </div>

      <button class="btn" type="submit">
        Send Reset Link
      </button>

      <p class="hint">
        <a class="link" href="{{ url_for('auth.security_check') }}">
          Reset password with security question
        </a>
      </p>

      <p class="hint">
        Remember your password?
        <a class="link" href="{{ url_for('auth.login') }}">Back to login</a>
      </p>

    </form>

    

    
</div>


{% endblock %}