{% extends "base.html" %}

{% block content %}


<div class="card narrow">

    <h2>Forgot Password</h2>
    <p class="muted">Enter your email and we’ll send you a password reset link.</p>

    <form method="post" class="form">

      <div>
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>
      </div>

      <button class="btn" type="submit">
        Send Reset Link
      </button>

    </form>

    <p class="hint">
      Remember your password?
      <a class="link" href="{{ url_for('auth.login') }}">Back to login</a>
    </p>

</div>


{% endblock %}