{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/miscstyle.css') }}">
{% endblock %}

{% block content %}
{% include "partials/auth_nav.html" %}



<div class="card narrow">

    <h2>Reset Password</h2>
    <p class="muted">Enter a new password for your account.</p>

    <form method="post" class="form">

      <div>
        <label>New Password</label>
        <input type="password" name="password" placeholder="New password" required>
      </div>

      <button class="btn" type="submit">
        Reset Password
      </button>

    </form>

</div>


{% endblock %}